<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.sctma.kegeratorv1">

    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:screenOrientation="landscape"
            android:uiOptions="splitActionBarWhenNarrow">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ContactInfo"
            android:parentActivityName=".MainActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".AdminTop"
            android:parentActivityName=".MainActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".UserAdmin"
            android:parentActivityName=".AdminTop"
            android:screenOrientation="landscape" />
        <activity
            android:name=".EditUserActivity"
            android:parentActivityName=".UserAdmin"
            android:screenOrientation="landscape"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".PourActivity"
            android:parentActivityName=".MainActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".BeerAdmin"
            android:parentActivityName=".AdminTop"
            android:screenOrientation="landscape" />
        <activity
            android:name=".EditKegActivity"
            android:parentActivityName=".BeerAdmin"
            android:screenOrientation="landscape"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".ImageSelectionActivity"
            android:parentActivityName=".EditKegActivity"
            android:screenOrientation="landscape" />

        <service android:name=".BluetoothDataService" />

        <activity android:name=".RFIDScannerActivity" />
        <activity
            android:name=".UserHistoryActivity"
            android:parentActivityName=".MainActivity" />
        <activity android:name=".EditBluetoothActivity"
            android:parentActivityName=".AdminTop"></activity>
    </application>

</manifest>